:root {
  --dark: black;
  --light: white;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: white;
  color: black;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.toScores {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: rgb(158, 32, 116);
}

#time {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

p {
  display: flex;
  flex: flex-wrap;
  justify-content: center;
}

section {
  display: flex;
  align-content: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.startBtn {
  background-color: rgb(158, 32, 116);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.startBtn:hover {
  opacity: 1;
}

.quiz {
  padding: 20px 350px;
  font-size: 15px;
}

.hide {
    display: none;
}

.btn{
    background: rgb(158, 32, 116);
    color: white;
    font-weight: 200;
    width: 100%;
    border: none;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover /*:not([diabled])*/{
    opacity: 1;
}

#feedback-txt{
    background: white;
    color: black;
    font-weight: 30;
    border: 0;
    padding: 10px 0 10px 30px;
    margin: 20px auto 0;
    display: none;
}

.correct{
    background: rgb(127, 192, 127)
}

.incorrect{
    background: rgb(241, 109, 109)
}