:root{
    --dark: black;
    --light: white;
}

header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color:black;
}

.navList{
    display:flex;
    justify-content: space-between;
}

.toScores{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    color: rgb(158, 32, 116);
}

.timer{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    color: black;
}

